body {
  margin: 0;
}

#background {
  position: fixed;
  pointer-events: none;
  background-position: center center;
  background-size: 100vw 100vw;
  min-height: 105%;
  min-width: 105%;
  top: 0;
  object-fit: contain;
  background-repeat: no-repeat;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.info {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
  transition: opacity 150ms ease-in-out;
  border-style: solid;
  border-width: 10px;
  border-image: linear-gradient(0deg, rgb(0, 79, 127), rgb(3, 208, 127)) 1;
  background-color: rgb(31, 28, 29);
  margin-bottom: 3vh;
  margin-top: 3vh;
  width: 60%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.infoimage {
  max-width: 100%;
  max-height: 100%;
}

.buttons {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: max-content;
  transition: opacity 150ms ease-in-out;
  border-style: solid;
  border-width: 10px;
  border-image: linear-gradient(0deg, rgb(0, 79, 127), rgb(3, 208, 127)) 1;
  background-color: rgb(31, 28, 29);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.buttons>a {
  margin: 10px;
}

.hide {
  position: relative;
  text-align: right;
  margin-left: auto;
  top: 0px;
  right: 0px;
  transition: opacity 150ms ease-in-out;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.audio {
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  bottom: 0px;
  border-style: solid;
  border-width: 10px;
  border-image: linear-gradient(0deg, rgb(0, 79, 127), rgb(3, 208, 127)) 1;
  background-color: rgb(31, 28, 29);
  transition: opacity 150ms ease-in-out;
  margin-top: 3vh;
  max-width: max-content;
  padding: 10px;
}

.hide:focus-within {
  opacity: .2;
  pointer-events: none;
}

.hide:focus-within~.info {
  opacity: 0;
}

.hide:focus-within~.buttons {
  opacity: 0;
  pointer-events: none;
}

.hide:focus-within~.audio {
  opacity: 0;
  pointer-events: none;
}