body {
  margin: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#background {
  top: 0;
  z-index: -99999;
  pointer-events: none;
  background-image: radial-gradient(#004E7E, #00234E)
}

#background::after {
  content: "";
  display: block;
  z-index: -99999;
  background-color: rgba(53, 58, 78, 0.38)
}

#background, #background::after, .pbg {
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
}

@keyframes scroll {
  from {
    background-position-x: 0px;
  }
  to {
    /* MUST be exact width of background!!! */
    background-position-x: 214px;
  }
}

.pbg[data-value="-1"] {
  animation-duration: 5s;
}

.pbg[data-value="-2"] {
  animation-duration: 4s;
}

.pbg[data-value="-3"] {
  animation-duration: 3s;
}

.pbg[data-value="-4"] {
  animation-duration: 2s;
}

.pbg {
  width: 300%;
  height: 100vh;
  /* first value MUST be exact width of background!!! */
  background-size: 214px 100%; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: scroll;
  transform: scale(1.1); /* will be overridden by script!!! */
  transition-duration: 1s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0, 0.55, 0.45, 1);
}

.pbg[data-value="-1"] {
  animation-duration: 5s;
}

.pbg[data-value="-2"] {
  animation-duration: 4s;
}

.pbg[data-value="-3"] {
  animation-duration: 3s;
}

.pbg[data-value="-4"] {
  animation-duration: 2s;
}

body :not(#audio) {
  user-select: none;
}

#hide {
  position: absolute;
  top: 0;
  right: 0;
  margin: 3em;
}

.hiddenGem{
  position: absolute;
  max-width: 200px;
  max-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  pointer-events: none;
  opacity: 0;
}

.hiddenGem img{
  height: 100%;
  width: 100%;
}

#hide:focus {
  opacity: .2;
  pointer-events: none;
}

#hide:focus ~ .hiddenGem {
  opacity: 1;
}

#hide:focus ~ .panel {
  opacity: 0;
  pointer-events: none;
}

#hide, .hiddenGem {
  transition: opacity 150ms ease-in-out;
}

#hide, .panel {
  transition: opacity 150ms ease-in-out;
}

.panel {
  position: relative;
  border-style: solid;
  border-width: 1em;
  border-color: transparent;
  border-radius: 1.5em;
  box-sizing: border-box;
  background-clip: padding-box;
  background-color: rgba(31, 28, 29, 0.75);
}

.panel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  padding: 1em;
  margin: -1em;
  background-image: linear-gradient(0deg, rgb(0, 79, 127), rgb(3, 208, 127));
  background-origin: border-box;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

/* spacing between each panel */

.panel:not(:last-child) {
  margin-bottom: 3em;
}

#info {
  width: 60%;
  max-width: 55em;
}

#info img {
  max-width: 100%;
  max-height: 100%;
}

.boomboxButton{
  display: block;
  margin: auto;
  padding-bottom: 5px;
}

.volumeSlider{
  appearance: none;
  height: 10px;
  width: 125px;
  background:black;
  outline: none;
  overflow:hidden;
  opacity:0.5;
  border-radius: 1.5em;
  display:block;
}

.volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  height: 10px;
  width: 10px;
  background:white;
  border-radius: 40%;
  box-shadow: -407px 0 0 400px white;
  cursor: pointer; 
}

.volumeSlider::-moz-range-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 10px; 
  height: 10px; 
  background:white;
  border-radius: 40%;
  box-shadow: -407px 0 0 400px white;
  cursor: pointer; 
}

#volume{
 display: block;
 margin: auto;
}

.boomboxButton {
  border: none;
  background: none;
  max-width: 100px;
  max-height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#buttons a {
  margin: 1em;
  max-width: 14em;
  border-radius: 50em;
}

#buttons img {
  max-width: 100%;
  border-radius: 50em;
}

#buttons img:hover {
  opacity: 0.65;
}

#audio {
  width: 25em;
  padding: 1em;
}

#audio audio {
  width: 100%;
}

/* rules for phones, tablets, etc */

@media screen and (max-width: 900px) {
  body {
    margin: 1.5em;
  }

  #hide {
    position: static;
    margin-top: 0em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  #buttons a {
    margin: 1em;
    max-width: 9em;
  }

  #info {
    width: 100%;
  }

  #audio {
    width: 100%;
  }
}
